.store-header{
    background: linear-gradient(180deg, #B53FFD 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 5px;
    
    p{
    text-align: center;
    font-size: x-large;
    padding: 20px;
    margin:auto ;
    }
    
}
.store-img{
    align-content: center;
    .picture-store{
        
    }
}