<div class="animated fadeIn">
    <div class="card">
      <div class="card-header" style="padding: 0; margin: 0; border: 0px;" >
        <div class="store-header">
          <p>ชื่อร้าน</p>
        </div>
      </div>  
        <div class="card-body">
          <div class="card-body">
            <div class="store-img">
              
          </div>
          </div>
          
          <div class="store-text">
            <h3>เจ้าของร้าน : </h3>
          </div>
        </div>
    </div>
  </div>
  