<div class="animated fadeIn">
  <div class="card">
    <div class="crad-header" style="padding: 0%; margin:0%;">
      <div class="text-head">Type fo use</div>
    </div>
    <div class="card-body" style="display: flex; justify-content: space-around; flex-direction: row; flex-wrap: wrap;">
      <div class="card-background-store">
        <img class="img-store" src="assets/img/avatars/Store.jpg">
        <div class="card-title">
          <div class="button-store">
            <button type="button" class="btn btn-lg btn-square" (click)="goStore"><i
                class="fa fa-cutlery fa-lg mt-2"></i>&nbsp;Store</button>
          </div>
        </div>

      </div>
      <div class="card-background-store">
        <img class="img-store" src="assets/img/avatars/Student.jpg">
        <div class="card-title">
          <div class="button-student">
            <button type="button" class="btn btn-lg btn-square "><i
                class="fa fa-users fa-lg mt-2"></i>&nbsp;Student</button>
          </div>
        </div>
      </div>

    </div>






  </div>
